@font-face {
  font-family: "RobotoSlab-Light";
  font-display: auto;
  src: url("../fonts/RobotoSlab-Light.ttf") format('truetype');
}

@font-face {
  font-family: "RobotoSlab-Regular";
  font-display: auto;
  src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "RobotoSlab-Bold";
  font-display: auto;
  src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}

.light{
  font-family: "RobotoSlab-Light";
  font-weight: 100;
}
.regular{
  font-family: "RobotoSlab-Regular";
  font-weight: 400;
}
.bold{
  font-weight: 800;
  font-family: "RobotoSlab-Bold";
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

button:hover{
  cursor: pointer;
}

header{
  position: relative;
  overflow: hidden;
  background-color: rgb(95,104,211);
  /* height: 351vw; */
}

.logo{
  width: 34.0332vw;
  height: 2.6367vw;
  margin-top: 2.929vw;
  margin-left: 6.298vw;
}

.phoneNumber{
  z-index: 1;
  font-family: "RobotoSlab-Bold",serif;
  display: inline-block;
  color:rgb(6,215,156);
  font-size: 2.343vw;
  text-decoration: none;
  position: absolute;
  right: 5.371vw;
  top:1.246vw;
}

.visitingTheLand{
  background-color: rgb(6,215,156);
  position: absolute;
  left: 5.0781vw;
  top: 10.449vw;
  width: 100%;
  height: 70vw;
  color: white;
  padding-left: 1.75vw;
}

.logoIconBlueContainer{
  position: absolute;
  /* border: 1px solid red; */
  display: flex;
  top: -3vw;
  background-color: rgb(255,255,255,0.3);
  border-radius:2vw;
  padding: 0.5vw;
}

.logoIconBlue{
  width: 6.884vw;
  height: 4.248vw;
}

.logoIconP{
  font-size: 1.756vw !important;
  margin-top: 0.5vw !important;
  font-family: "RobotoSlab-Light",serif;
}

.logoIconSpanOne{
  font-family: "RobotoSlab-Bold",serif;
}

.logoIconSpanTwo{
  float: right;
  margin-right: 0.5vw;
}

.visitingTheLand h4{
  margin: 0;
  margin-top: 9.5vw;
  font-family: "RobotoSlab-Light",serif;
  font-size: 3.222vw;
  font-weight: 100;
}

.visitingTheLand p{
  margin: 0;
  margin-top: 3vw;
  font-family: "RobotoSlab-regular",serif;
  font-size: 1.757vw;
}

.visitingTheLand h2{
  margin: 0;
  margin-top: 0.8vw;
  font-family: "RobotoSlab-Bold",serif;
  font-size: 2.929vw;
}

.simCardContainer{
  position: absolute;
  background-color: white;
  right: 0;
  width: 53.466vw;
  height: 44.97vw;
  z-index: 2;
  top: 6vw;
  /* box-shadow: 0px 0px 2.929vw 0px rgba(0,0,0,0.07); */
  box-shadow: 0px 0px 7.714vw 6.1vw rgba(0,0,0,0.06);
  perspective: 40vw;
  font-family: "RobotoSlab-regular",serif;
  font-size: 1.171vw;
}


.simCard{
  transition: 1.5s;
  position: absolute;
  left: 3.279vw;
  /* top: -5.904vw; */
  top: -37.904vw;
  opacity: 0;
  width: 38.916vw;
  height: 33.98vw;
  transform: rotate(-45deg);
  /* animation-name: simcard; */
  /* animation-duration: 3s; */
}


/* @keyframes simcard {
  0%{
    opacity: 0;
    transform: rotateY(0deg);
  }
  100%{
    opacity: 1;
    transform: rotateY(360deg);
  }
} */

.simCardContainer>p{
  position: absolute;
  right: 4.638vw;
  top: 18.652vw;
}

.sfIcons{
  color: rgb(37,37,37);
  /* border: 1px solid red; */
  position: absolute;
  top: 26vw;
  left: 7.5vw;
  width: 39.3vw;
  min-height: 5vw;
  display: flex;
  justify-content: space-between;
}


.sfIconsInsideBox{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon{
  width: 4.492vw;
  height: 4.492vw;
}
.icon:hover{
  cursor: pointer;
}

.sfIconsInsideBox h6{
  font-size: 0.881vw;
  margin: 0;
}
.sfIconsInsideBox p{
  font-size: 0.72vw;
  font-family: "RobotoSlab-Regular",serif;
}

/* content */
.narrowWrapper{
  overflow: hidden;
  position: relative;
  transform: skew(0deg, -24deg);
  background: white;
  width: 100%;
  height: auto;
  top: 24.5vw;
}

.container{
  transform: skew(0deg, 24deg);
  background: white;
  position: relative;
  width: 88.476vw;
  /* min-height:134vw; */
  left: 5.078vw;
  box-shadow: 0px 0px 7.714vw 6.1vw rgba(0,0,0,0.07);
  margin-bottom: 34vw;

  /* border: 1px solid red; */
}

.triangle{
  position: relative;
  left: 30vw;
  top: 12vw;
  width: 8.544vw;
  height: 7.568vw;
  animation-name: triangle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes triangle {
  0%{
    top: 12vw;
  }
  100%{
    top: 15vw;
  }
}

.container h1{
  position: relative;
  font-size: 3.662vw;
  font-family: "RobotoSlab-Regular",serif;
  margin-top:24vw;
  text-align: center;
}

.greenHtwo{
  font-family: "RobotoSlab-Light",serif;
  font-weight: 100;
  position: relative;
  text-align: center;
  font-size: 2.343vw;
  color: rgb(6,215,156);
  margin-top: 2vw;
}

.googleRank{
  position: relative;
  width: 13.183vw;
  height: 6.982vw;
  margin-left: 50%;
  left: -7.5vw;
}

.planContainer{
  position: relative;
  margin-top: 1.22vw;
  margin-left: 50%;
  left: -34.75vw;
  width: 69.677vw;
  height: 48.73vw;
  /* border: 1px solid green; */
  display: flex;
  background-color: rgb(91,100,202);
}

.plan{
  transition: 0.4s;
  width: 23.22vw;
  position: relative;
  /* border: 1px solid red; */
  background-color: rgb(91,100,202);
  border-top-left-radius:  0.5vw;
  border-top-right-radius:  0.5vw;
  border: 1px solid rgb(91,100,202);
}
.plan:hover{
  cursor: pointer;
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0px 0px 2.832vw 0px rgba(0,0,0,0.08);
  border: 4px solid rgb(91,100,202);
}

.planNameBox{
  padding-top: 0.1px;
  position: relative;
  height: 17%;
  width: 100%;
  background-color: rgb(91,100,202);
}

.planNameBox h3{
  color: white;
  font-family: "RobotoSlab-Bold",serif;
  text-align: center;
  font-size: 2.148vw;
}

.circlePrice{
  position: relative;
  width: 5.273vw;
  height: 5.273vw;
  border-radius: 50%;
  background-color: rgb(6,215,156);
  margin-left: 50%;
  left: -2.635vw;
  border: 0.244vw solid rgb(205,206,211);
  top: -1.4vw;
}

.circlePrice{
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "RobotoSlab-Bold",serif;
  font-size: 1.953vw;
  box-shadow: 0px 0px 2.832vw 0px rgba(0,0,0,0.07);
}

.planTextBox{
  background-color: rgb(226,227,230);
  flex-direction:  column;
  position: relative;
  width: 100%;
  height:83%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid yellow; */
}

.planTextBox p{
  font-family: "RobotoSlab-Regular",serif;
  font-size: 1.367vw;
  text-align: center;
  line-height: 2;
  margin-top: -4vw;
}

.planButton{
  width: 16.69vw;
  height: 4vw;
  border-radius: 5vw;
  border: 5px solid white;
  background-color: rgb(6,215,156);
  position: absolute;
  bottom:  4vw;
  color: white;
  font-size: 1.464vw;
  font-family: "RobotoSlab-Bold",serif;
}

/* plan  content */
/* plan  content */
/* plan  content */

/* planContentBox test*/
/* planContentBox test*/
/* planContentBox test*/
.planContentBox{
  /* border: 1px solid blue; */
  position: relative;
  margin-top: 2vw;
  margin-left: 50%;
  left: -34.75vw;
  width: 69.677vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lockedCheckContainer{
  transition: 1s;
  overflow: hidden;
  height: 0vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.great{
  margin-bottom: 0;
}

.choosingPlan{
  margin: 0;
}

.lockedCheckContainer input:checked ~

.lockedCheckContainer label h4{
  display: inline;
}

.lockedCheckLabel{
  position: relative;
  display: block;
  padding: 0.1px;
  /* background: red; */
  margin: 1vw;
}
.lockedCheckLabel:hover{
  cursor: pointer;
}
.lockedCheckLabel h4{
  margin: 0;
  margin-left: 2vw;
  margin-right: 1vw;
}

/* simsize */
.selectSimSize{
  transition: 1s;
  height: 0vw;
  overflow: hidden;
  /* height: 24vw */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selectSimSize h5{
  margin: 0;
  margin-bottom: 1vw;
  margin-top: -0.2vw;
}

/* selectNO */
.selectedNo{
  transition: 1s;
  height: 0;
  overflow: hidden;
  /* height: 16vw; */
  text-align: justify;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 29.282vw;
  background-color: rgb(255,213,108);
  box-shadow: 0px 0px 9.714vw 0.1vw rgba(0,0,0,.3);
}











/* Create a custom checkbox */
/* checkbox css */
.lockedCheckContainer label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Hide the browser's default checkbox */
.lockedCheckLabel input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border-radius: 50%;
  position: absolute;
  top: 0.4vw;
  left: 0;
  height: 1.22vw;
  width: 1.22vw;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.lockedCheckLabel:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.lockedCheckLabel input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.lockedCheckLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.lockedCheckLabel .checkmark:after {
  left: 0.439vw;
  top: 0.244vw;
  width: 0.244vw;
  height: 0.488vw;
  border: solid white;
  border-width: 0 0.1464vw 0.1464vw 0;
  transform: rotate(45deg);
}
/* custom checkbox end */











.planContentBox h2{
  font-size: 2.9282vw;
  /* 60 */
}

.planContentBox h3{
  font-size: 2.147vw;
  /* 44 */
}

.planContentBox h4{
  font-size: 1.464vw;
  /* 30 */
}

.planContentBox h5{
  font-size: 1.1713vw;
  /* 24 */
}









/* .planForm input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.planForm:hover input ~ .checkmark {
  background-color: #ccc;
} */












/* footer */
footer{
  position: relative;
  width: 100%;
  height: 21.777vw;
  background-color: rgb(91,100,202);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.logoFooter{
  width: 34.0332vw;
  height: 2.6367vw;
  margin-top: 3.9vw;
}

.phoneNumberFooter{
  font-family: "RobotoSlab-Bold",serif;
  color:rgb(6,215,156);
  font-size: 2.343vw;
  text-decoration: none;
}

.israelLink{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.394vw;
  background-color: rgb(6,215,156);
  display: flex;
  justify-content: center;
  align-items: center;
}

.israelLink a{
  color: white;
  text-decoration: none;
  font-family: "RobotoSlab-Regular",serif;
  font-size: 1.171vw;
}

.shippingMethodDiv label{
  display: flex;
  justify-content:  flex-start;
  align-items: center;
}
